---
import Container from '@/components/Container.astro';
---

<Container as='footer' class='pt-24' role="contentinfo">
  <p class="text-center text-muted-foreground text-sm">
    &copy; {new Date().getFullYear()} Mohammad Alviyan Anwari. Powered by <a href="https://astro.build" target="_blank" rel="noopener noreferrer" class="hover:text-headings transition-colors">Astro</a> and CVfolio.
  </p>
</Container>
